./git/*
./git
.DS_Store
publish.properties
/target/
.idea/
*.iml
.factorypath
.classpath
.project
.settings
.springBeans
.publish.properties
dump.rdb
out/
.vscode
node_modules
package-lock.json
**.png
**.cvs
AutomationReport.html
checkstyle-suppressions.xml
sun_checks.xml
.env
logs/
/allure-results