<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="FrontEndSuite" thread-count="1" parallel="tests">

    <listeners>
        <listener class-name="listeners.ExtentListeners"/>
    </listeners>

    <test name="Test to manage user on public website">
        <classes>
            <class name="tests.TestManageUser"> </class>
        </classes>
    </test>
</suite>